main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
}

img{
  height: 200px;
  width: 100px
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.width-eighty {
  width: 80%;
}

.contain-content {
  contain: content;
}

.scrollLoveArmy:hover {
  overflow: hidden;
  overflow-y:scroll;
  width: 80%;
  height: 75vh;
  margin: 20px 
}

.scrollLoveArmy {
  overflow-y:hidden;
  overflow-x: hidden;
  width: 80%;
  height: 75vh;
  margin: 20px 
}

.decor-none {
  text-decoration: none;
}

.margin-ten {
  margin: 10px;
}

.margin-zero {
  margin: 0;
}

.space-evenly{
  justify-content: space-evenly;
}
