main {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
}

img{
  height: 200px;
  width: 100px
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.width-hundred{
  min-width: 100%;
  /* background-color:red; */
}

.scrollLoveArmy {
  overflow-x: scroll;
  overflow-x:hidden;
  width: 80%;
  height: 65vh;
  margin: 20px 
}