.soldier-header{
  background-color: rgba(125, 199, 255, 0.502);
  top: 0;
  height: 25%;
  width: 100%
}

.soldier-body {
  height: 75%;
  width: 100%;
}

.img-name {
  width: 35%;
  height:100%;
}

.soldier-img {
  max-height: 60%;
  width: 90%;
  object-fit: contain;
}

.header-right {
  width: 65%;
}

.width-hundred {
  width: 100%;
}

.point-form {
  background-color: rgba(0, 0, 0, 0.401);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

